# Ignore VS Code settings
.vscode/

# Ignore build outputs
build/
*.exe

# Ignore private inputs
**/input/input.txt

# Ignore outputs from private inputs
**/output/input.part1.txt
**/output/input.part2.txt
